[${group_name}]

%{ for i in internal_ips ~}
${i} 
%{ endfor ~}

[jumphost]
${jumphost_ip}

[all:vars]
ansible_ssh_common_args='-o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no -o StrictHostKeyChecking=no -o ProxyCommand="ssh -i ${ssh_key_file} -W %h:%p -q ${ssh_user}@${jumphost_ip}"'
